<%= error_messages_for 'redmine_chat_telegram_settings' %>

<% errors = [] %>
<% errors << l('redmine_chat_telegram.enable_module') unless @project.module_enabled?(:chat_telegram) %>

<% if errors.empty? %>
  <%= form_tag(
          { controller: :redmine_chat_telegram_settings, action: :update, project_id: @project, tab: 'chat_telegram_settings' },
          method: :put, class: 'tabular', multipart: true, id: 'chat_telegram_settings') do %>

    <fieldset class="box tabular">
      <legend><%= t 'redmine_chat_telegram.settings.telegram_group_creator_role.title' %></legend>
      <% %w(all selected).each do |role| %>
        <label class="floating" style="width: 350px">
          <%= radio_button_tag 'chat_telegram_settings[telegram_group_creator_role]', role,
                               (@project.telegram_group_creator_role == role or (!@project.telegram_group_creator_role.present? and role == 'all')),
                               :id => nil %>
          <%= t "redmine_chat_telegram.settings.telegram_group_creator_role.#{role}" %>
        </label>
        <br>
      <% end %>
    </fieldset>


    <div style="clear:both;"></div>

    <%= submit_tag l(:button_save) %>

  <% end %>

<% else %>
  <p class="nodata"><%= errors.join('<br/>').html_safe %></p>
<% end %>
